<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>这是白菜价页面</title>
    <link rel="shortcut icon" href="manmanmai.ico"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/baicaijia.css"/>
</head>
<body>
    <div class="layout">
        <!--头部开始-->
        <header class="header" id="header">
            <a href="index.html" class="header_l iconfont icon-fanhui"></a>
            <a href="http://m.manmanbuy.com/?o=download" class="header_r"></a>
            <h3 class="header_con">淘宝内部券 - 白菜价</h3>
        </header>

        <!-- nav开始-->
        <nav class="nav">
            <div class="nav_l">
                <ul class="clearFix">
                    <li data-target=""><a href="javascript:void(0);"></a></li>
                </ul>
                <div class="nav_r">
                </div>
            </div>
        </nav>

        <!-- banner 开始-->
        <div class="banner">
            <img src="images/quan_banner_wap.png" alt=""/>
        </div>

        <!-- list开始-->
        <div class="list">
            <div class="list_con">
                <ul>
                    <!--<li>-->
                        <!--<a href="">-->
                        <!--</a>-->
                        <!--<div class="pic"></div>-->
                        <!--<div class="list_right">-->
                            <!--<div><span class="b">[包邮]</span>藏源鹿品牌原创设计【羊毛针织】中长大衣</div>-->

                            <!--<div><i>券后</i><em>¥</em>106.0<del>¥206</del></div>-->

                            <!--<div class="bar clearFix"><a href="http://shop.m.taobao.com/shop/coupon.htm?seller_id=2213057944&amp;activity_id=8cfb336284b5436b9f2c7c9343fa85f1" class="goquan" target="_blank"></a>-->
                                <!--<i><em style="width:75%;"></em><span>75%</span></i>-->
                                <!--<b>已领75117张</b>-->
                            <!--</div>-->

                            <!--<div><a href="http://shop.m.taobao.com/shop/coupon.htm?seller_id=2213057944&amp;activity_id=8cfb336284b5436b9f2c7c9343fa85f1" target="_blank">点此领10元优惠券</a>-->
                                <!--<a biz-itemid="539735809040" isconvert="1" href="https://item.taobao.com/item.htm?id=539735809040" target="_blank">下单链接</a></div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>

        <!--backTop开始-->
        <a class="backTop" href="#header">↑</a>

        <!-- 加载loading 等待提示-->
        <div class="loading">loading...
        </div>
        <!-- 抽奖部分开始 -->
        <div class="goodluck">
            <a href="index.html" id="backhome">←返回首页</a>
            <a href="baicaijia.html?titleid=0" id="gobaicai">去白菜价→</a>
            <div class="bottom">
                <img src="images/bottom.gif" alt=""/>
                <div class="top">
                    <img src="images/top.gif" alt=""/>
                </div>
                <div class="goodbutton" id="goodbutton">
                    <img src="images/button.gif" alt=""/>
                </div>
                <span id="press"></span>
                <div class="ullist">
                    <ul id="ul1">
                        <li><img src="images/0.jpg" alt=""/></li>
                        <li><img src="images/1.jpg" alt=""/></li>
                        <li><img src="images/2.jpg" alt=""/></li>
                        <li><img src="images/3.jpg" alt=""/></li>
                        <li><img src="images/4.jpg" alt=""/></li>
                        <li><img src="images/5.jpg" alt=""/></li>
                        <li><img src="images/6.jpg" alt=""/></li>
                        <li><img src="images/7.jpg" alt=""/></li>
                        <li><img src="images/8.jpg" alt=""/></li>
                        <li><img src="images/9.jpg" alt=""/></li>
                        <li><img src="images/0.jpg" alt=""/></li>
                    </ul>
                    <ul id="ul2">
                        <li><img src="images/0.jpg" alt=""/></li>
                        <li><img src="images/1.jpg" alt=""/></li>
                        <li><img src="images/2.jpg" alt=""/></li>
                        <li><img src="images/3.jpg" alt=""/></li>
                        <li><img src="images/4.jpg" alt=""/></li>
                        <li><img src="images/5.jpg" alt=""/></li>
                        <li><img src="images/6.jpg" alt=""/></li>
                        <li><img src="images/7.jpg" alt=""/></li>
                        <li><img src="images/8.jpg" alt=""/></li>
                        <li><img src="images/9.jpg" alt=""/></li>
                        <li><img src="images/0.jpg" alt=""/></li>
                    </ul>
                    <ul id="ul3">
                        <li><img src="images/0.jpg" alt=""/></li>
                        <li><img src="images/1.jpg" alt=""/></li>
                        <li><img src="images/2.jpg" alt=""/></li>
                        <li><img src="images/3.jpg" alt=""/></li>
                        <li><img src="images/4.jpg" alt=""/></li>
                        <li><img src="images/5.jpg" alt=""/></li>
                        <li><img src="images/6.jpg" alt=""/></li>
                        <li><img src="images/7.jpg" alt=""/></li>
                        <li><img src="images/8.jpg" alt=""/></li>
                        <li><img src="images/9.jpg" alt=""/></li>
                        <li><img src="images/0.jpg" alt=""/></li>
                    </ul>
                </div>
            </div>

            <div class="getMoney">
                <img src="images/5598c51fbeaea.jpg" alt=""/>
                <div class="text"><span id="money"></span></div>
            </div>
        </div>

        <!--主页小组件-->
        <div class="fixedNav">
            <div class="menu">
                <script type="text/template" id="coudanIndex">
                    <% for(var i=0;i< result.length;i++){ %>
                    <li>
                        <a href="<%=i==7?'javascript:void(0)':result[i].titlehref%>">
                            <%=#result[i].img%>
                            <p><%=result[i].name%></p>
                        </a>
                    </li>
                    <% } %>
                </script>
                <ul class="clearFix">

                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/template" id="navTitle">
    <%for (var i = 0; i < result.length; i++) {%>
        <li class="<%=i==id?'active':''%>" data-target="<%=result[i].titleId%>"><a href="javascript:void(0);"><%=result[i].title%></a></li>
    <%}%>
</script>

<script type="text/template" id="listContent">
    <%for (var i = 0; i < result.length; i++) {%>
    <li>
        <a href="http://s.click.taobao.com/lkqGHQx">
        </a>
        <div class="pic"><%=#result[i].productImg%></div>
        <div class="list_right">
            <div><%=#result[i].productName%></div>

            <div><%=#result[i].productPrice%></div>

            <%=#result[i].productCouponRemain%>

            <div><%=#result[i].productCoupon%>
                <%=#result[i].productHref%></div>
        </div>
    </li>
    <%}%>
</script>


<script type="text/javascript" src="js/template-native.js"></script>
<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/mybase.js"></script>
<script type="text/javascript" src="js/baicaijia.js"></script>
</html>